{
  "extends": "airbnb-base",
  "globals": {
    "it": true,
    "describe": true
  },
  "rules": {
    "class-methods-use-this": "off",
    "comma-dangle": "off",
    "wrap-iife": ["error", "inside"]
  }
}
